### Урок 6. Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. Корреляционный анализ.

####1) Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],

ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].

Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [28]:
import numpy as np
import pandas as pd

In [4]:
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

9157.839999999997

##### Считаем в ручную

In [17]:
def mean(x:list): # Функция для ручного нахождения среднего..
  return(sum(x)/ len(x))

In [18]:
a = []
for x,i in enumerate(zp):
  a.append(i*ks[x])

cov = mean(a) - mean(zp) * mean(ks)
cov

9157.839999999997

##### Считаем в ручную с помощью библиотеки Numpy

In [15]:
ar_zp = np.array(zp)
ar_ks = np.array(ks)
cov = np.mean(ar_zp*ar_ks) - np.mean(ar_zp)* np.mean(ar_ks)

##### Считаем с помощью Numpy

In [12]:
np.cov(zp,ks,ddof=0)

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [25]:
def std(x:list): # Функция для ручного нахождения стандартного отклонения(сигмы)..
  m = mean(x) 
  s = 0
  for i in x:
    s += (i-m)**2
  d = s / len(x)
  return  d**0.5

In [27]:
cov / (std(zp)*std(ks))

0.8874900920739158

##### Нахождение среднего(сигмы) с помощью Numpy

In [16]:
cov / (np.std(zp)*np.std(ks))

0.8874900920739158

##### Нахождение корреляции только с помощью Numpy

In [19]:
np.corrcoef(zp,ks)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

##### С помощью Pandas

In [29]:
df = pd.DataFrame({'zp':zp,
                   'ks':ks})

In [34]:
df.corr(method='pearson')

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

####2) Измерены значения IQ выборки студентов, обучающихся в местных технических вузах: 131, 125, 115, 122, 131, 115, 107, 99, 125, 111. Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [37]:
iq = [131, 125, 115, 122, 131, 115, 107, 99, 125, 111]
alf = 0.05

In [38]:
std(iq)

10.004498987955369

In [39]:
mean(iq)

118.1

In [56]:
iq = [131, 125, 115, 122, 131, 115, 107, 99, 125, 111]
alf = 0.05
sr = sum(iq) / len(iq)
sd = 0
for i in iq:
  sd += (i - sr)**2

d = sd / (len(iq)-1)
sigma = d**0.5
t = 2.262 # по таблице t
a = sr - t * sigma / 10**0.5
a1 = sr + t * sigma / 10**0.5
print(f'Доверительный интервал c надежностью 0.95 составляет от {round(a,2)} до {round(a1,2)}')

Доверительный интервал c надежностью 0.95 составляет от 110.56 до 125.64

####3) Известно, что рост футболистов в сборной распределен нормально с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27 среднее выборочное составляет 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [47]:
d = 25 
n = 27 
m = 174.2 
alf = 0.05 
z = 1.96 # по таблице Z 
sigma = d**0.5
a  = m - (z * sigma/n**0.5)
a1 = m + (z * sigma/n**0.5)
print(f'Доверительный интервал c надежностью 0.95 составляет от {round(a,2)} до {round(a1,2)}')

Доверительный интервал c надежностью 0.95 составляет от 172.31 до 176.09